# Built files
object/
bin/

# Old files
old/

# OpenCMISS output
*.diag
*.out
*.exnode
*.exelem
*.davidn
*.opanal
*.node
*.connectivity

# Editor files
*.swp
*~

# Files created when running tests
*.pyc
nose_run_*
nose_build_*
nose_check_*
