<html><head>
<title>Test output</title>
<SCRIPT LANGUAGE="JavaScript" SRC="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/tree.js"> </SCRIPT>
<link href="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/tree.css" rel="stylesheet" />
</head><body>
<h2>OpenCMISS Examples Nightly Testing Results</h2>
<ul id="tree1" class="mktree">
{% for subclass in examples.children recursive %}
  <li class="liClosed">&nbsp;{{subclass.name}}
     {% if subclass.fail==0 %}
        <a class="success">PASS</a>
     {% else %}
        <a class="fail">{{subclass.fail}} FAIL(s)</a>
     {% endif %}
      <ul>
        {% if subclass.children %}
          {{ loop(subclass.children) }}     
        {% else %}
          <li class="liBullet">&nbsp;Building the example:&nbsp;
          {% if subclass.buildFail==0 %}
            <a class="success" href="{{subclass.buildLog}}">PASS</a>
          {% else %}
            <a class="fail" href="{{subclass.buildLog}}">FAIL</a>
          {% endif %}&nbsp;
          <span class="dropt">
          <a href="{{subclass.buildHistoryLog}}">History</a>
          <span style="width:230px;">
          {{subclass.buildHistory}}
          </span></span>
          </li>
          {% if subclass.buildFail==0 %}
            <li class="liBullet">&nbsp;Executing the example:&nbsp;
            {% if subclass.runFail==0 %}
              <a class="success" href="{{subclass.runLog}}">PASS</a>
            {% else %}
              <a class="fail" href="{{subclass.runLog}}">FAIL</a>
            {% endif %}&nbsp;
            <span class="dropt">
            <a href="{{subclass.runHistoryLog}}">History</a>
            <span style="width:230px;">
            {{subclass.runHistory}}
            </span></span>&nbsp;
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </li>
{% endfor %}
</ul>
{% if examples.fail==0 %}
  <a class="success">All the examples passes</a>
{% else %}
  <a class="fail">There are {{examples.fail}} fail(s).</a>
{% endif %}

<ul class="nb">
NB:
<li>Click on + or - button to open or close the subtree.</li>
<li>Mouse hover on the status (<a class="success">PASS</a> or <a class="fail">FAIL</a>) of examples to see the status of five most recent tests.</li>
<li>Click on the status (<a class="success">PASS</a> or <a class="fail">FAIL</a>) of examples to view the logs.</li>
</ul>
</body></html>


