<html><head>
<title>Test output</title>
<SCRIPT LANGUAGE="JavaScript" SRC="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/tree.js"> </SCRIPT>
<link href="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/tree.css" rel="stylesheet" />
</head><body>
<h1>OpenCMISS Nightly Testing Results</h1>
<ul id="tree1" class="mktree">
{% for subclass in examples.children recursive %}
  <li class="liClosed">&nbsp;{{subclass.name}}
     {% if subclass.fail==0 %}
        <a class="success">PASS</a>
     {% else %}
        <a class="fail">{{subclass.fail}} FAIL(s)</a>
     {% endif %}
      <ul>
        {% if subclass.children %}
          {{ loop(subclass.children) }}     
        {% else %}
          <li class="liBullet">&nbsp;Building the example:&nbsp;
          <span class="dropt">
          {% if subclass.buildFail==0 %}
            <a class="success" href="{{subclass.buildLog}}">PASS</a>
          {% else %}
            <a class="fail" href="{{subclass.buildLog}}">FAIL</a>
          {% endif %}
          <span style="width:230px;">
          {{subclass.buildHistory}}
          </span></span>
          </li>
          {% if subclass.buildFail==0 %}
            <li class="liBullet">&nbsp;Running the test:&nbsp;
            <span class="dropt">
            {% if subclass.runFail==0 %}
              <a class="success" href="{{subclass.runLog}}">PASS</a>
            {% else %}
              <a class="fail" href="{{subclass.runLog}}">FAIL</a>
            {% endif %}
            <span style="width:230px;">
            {{subclass.runHistory}}
            </span></span>&nbsp;
            <a href="{{subclass.masterLogDir}}/joblogs">Job Execution Results</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </li>
{% endfor %}
</ul>
{% if allpass %}
  <a class="success">PASS</a><br /><a class="success">ALL PASS</a>
{% endif %}

<br><a href="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/logs_x86_64-linux/invalid_jason_filelist">Some examples not tested due to invalid JSON configuration.</a>
</body></html>


