<html><head>
<title>Test output</title>
<SCRIPT LANGUAGE="JavaScript" SRC="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/tree.js"> </SCRIPT>
<script>
function searchTree(frm) {
  if (frm.example.value != "") {
    collapseTree('root');
    var rootsAr = document.getElementById("root");
    searchChild(rootsAr, frm.example.value);
  }
}

function searchChild(item, str){
  for (var i = 0; i < item.childNodes.length; i++) {
    var it = item.childNodes[i];
    if (it.nodeName == "LI") {
      if (it.id.toLowerCase().indexOf(str.toLowerCase())>=0){
        expandToItem("root",it.id);
      }
      else {
        for (var j=0;j<it.childNodes.length;j++) {
          var ut = it.childNodes[j];
          if (ut.nodeName == "UL") {
            searchChild(ut, str)
          }
        }
      }
    }
  }
}

function searchFailed() {
    collapseTree('root');
    var rootsAr = document.getElementById("root");
    searchFailedChild(rootsAr);
}

function searchFailedChild(item){
  for (var i = 0; i < item.childNodes.length; i++) {
    var it = item.childNodes[i];
    if (it.nodeName == "LI" && it.id != null) {
      for (var j=0;j<it.childNodes.length;j++) {
         var ut = it.childNodes[j];
         if (ut.nodeName == "SPAN" && ut.className=="fail") {
           expandToItem("root",it.id);
         }
       } 
    }
    searchFailedChild(it);
  }
}

</script>
<link href="http://autotest.bioeng.auckland.ac.nz/opencmiss-build/tree.css" rel="stylesheet" />
</head><body>
<h2>OpenCMISS Examples Nightly Testing Results</h2>
<br>
<form action="javascript:searchTree(document.getElementById('exampleF').value)">
Search: <input id="exampleF" type="text" name="example">&nbsp;
<input type="submit" value="Submit" onClick="searchTree(this.form)">
</form>
&nbsp;
<a href="javascript:void(0);" onClick="expandTree('root');">Expand all</a>&nbsp;
<a href="javascript:void(0);" onClick="searchFailed('root');">Expand failed</a>&nbsp;
<a href="javascript:void(0);" onClick="collapseTree('root');">Collapse all</a>
<br>
<ul id="root" class="mktree">
{% for subclass in examples.children recursive %}
  <li class="liClosed" id="{{subclass.path}}">&nbsp;{{subclass.name}}
     {% if subclass.fail==0 %}
        <span class="success">PASS</span>
     {% else %}
        <span class="fail">{{subclass.fail}} FAIL(s)</span>
     {% endif %}
      <ul>
        {% if subclass.children %}
          {{ loop(subclass.children) }}     
        {% else %}
          {% if subclass.language != "python" %}
          <li class="liBullet">&nbsp;Building the example:&nbsp;
          {% if subclass.buildFail==0 %}
            <a class="success" href="{{subclass.buildLog}}">PASS</a>
          {% else %}
            <a class="fail" href="{{subclass.buildLog}}">FAIL</a>
          {% endif %}&nbsp;
          <span class="dropt">
          <a href="{{subclass.buildHistoryLog}}">History</a>
          <span style="width:230px;">
          {{subclass.buildHistory}}
          </span></span>
          </li>
          {% endif %}
          {% if subclass.buildFail==0 %}
            {%for test in subclass.tests %}
              <li class="liBullet">&nbsp;Executing test #{{test.id}}:&nbsp;
              {% if test.runFail==0 %}
                <a class="success" href="{{test.runLog}}">PASS</a>
              {% else %}
                <a class="fail" href="{{test.runLog}}">FAIL</a>
              {% endif %}&nbsp;
              <span class="dropt">
              <a href="{{test.runHistoryLog}}">History</a>
              <span style="width:230px;">
              {{test.runHistory}}
              </span></span>&nbsp;
              </li>
              {% if test.runFail==0 and test.expectedPath %}
                <li class="liBullet">&nbsp;Checking test output #{{test.id}}:&nbsp;
                {% if test.checkFail==0 %}
                  <a class="success" href="#">PASS</a>
                {% else %}
                  <a class="fail" href="{{test.checkLog}}">FAIL</a>
                {% endif %}&nbsp;
                <span class="dropt">
                <a href="{{test.checkHistoryLog}}">History</a>
                <span style="width:230px;">
                {{test.checkHistory}}
                </span></span>&nbsp;
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </ul>
    </li>
{% endfor %}
</ul>
{% if examples.fail==0 %}
  <span class="success">All the examples passes</span>
{% else %}
  <span class="fail">There are {{examples.fail}} fail(s).</span>
{% endif %}
<br>

<ul class="nb">
NB:
<li>Click on + or - button to open or close the subtree.</li>
</ul>
</body></html>


